<md-toolbar class="md-primary">
    <div  class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="closeSN('update')">
          <md-icon class="material-icons md-24 " >arrow_back</md-icon>
         </md-button>
        <h1 class="md-toolbar-tools">
            Editar Usuario</h1>
        <div flex></div>
    </div>
</md-toolbar>
<md-content  ng-controller="UsersUpdateController as userEditCtrl" ng-if="isUpdate" layout-padding>            
    <form  name="frm" layout="column">
       <!-- NOMBRE DE USUARIO -->
        <md-input-container style="margin-top:-0.3em;">
            <label >Nombre</label>
            <input  name="fname" type="text"  onKeyUp="this.value=this.value.toUpperCase();"
                   ng-model="userEditCtrl.model.name" required>
            <div ng-messages="frm.fname.$error" ng-if="frm.fname.$touched">
                <div ng-message="required" class="md-warn md-caption">*Este campo es requerido</div>
            </div>
        </md-input-container>

        <!-- APELLIDOS DE USUARIO -->
        <md-input-container style="margin-top:-0.3em;">
            <label >Apellidos</label>
            <input  name="flast_name" type="text"  onKeyUp="this.value=this.value.toUpperCase();"
                   ng-model="userEditCtrl.model.last_name" required>
            <div ng-messages="frm.flast_name.$error" ng-if="frm.flast_name.$touched">
                <div ng-message="required" class="md-warn md-caption">*Este campo es requerido</div>
            </div>
        </md-input-container>

        <!-- CELULAR DE USUARIO -->
        <md-input-container style="margin-top:-0.3em;">
            <label >Celular</label>
            <input  name="fphone" type="text" 
                   ng-model="userEditCtrl.model.phone" required>
            <div ng-messages="frm.fphone.$error" ng-if="frm.fphone.$touched">
                <div ng-message="required" class="md-warn md-caption">*Este campo es requerido</div>
            </div>
        </md-input-container>

        <!-- EMAIL -->
        <md-input-container style="margin-top:-0.3em;">
            <label><md-icon class="mdi mdi-email"></md-icon> Correo Electrónico</label>
            <input name="fEmail" required type="email" ng-model="userEditCtrl.model.email" >
            <div ng-messages="frm.fEmail.$error" ng-if="frm.fEmail.$touched">
                <div ng-message="required" class="md-warn md-caption">*Este campo es requerido</div>
                <div ng-message="email" class="md-warn md-caption">Debes ingresar un email válido</div>
            </div>
        </md-input-container>

        <!--ROLE-->
        <md-input-container style="margin-top:-0.3em;" ng-if="isAD()">
            <label for="role"> Tipo de Usuario</label>
            <md-select id="role" ng-model="userEditCtrl.model.role" name="fRole" required>
                <md-option ng-repeat="role in userEditCtrl.roles" value="{{role.name}}">{{role.name}}

                </md-option>
            </md-select>
            <div ng-messages="frm.fRole.$error" ng-if="frm.fRole.$touched">
                <div ng-message="required" class="md-warn md-caption">*Este campo es requerido</div>
            </div>
        </md-input-container>

        <!-- FOTOGRAFIA -->
        <div class="box" flex="100" >
            <span>Fotografía</span>
          <input type="file" name="foto_area" id="foto_area" class="inputfile inputfile down1" file-model="userEditCtrl.photo" required> 
        </div>

        <!-- STATUS -->
        <div  layout="row" flex>
                <span class="" style=" margin-top:1.1em; " flex="40">
                 Status: </span>
            <md-switch ng-model="userEditCtrl.model.status" ng-true-value="'Activo'" ng-false-value="'Inactivo'" aria-label="Status"  class="md-warn">
            </md-switch>
        </div>

        <md-button ng-click="userEditCtrl.saveActionButton(frm)" class="md-raised md-primary"
                   ng-disabled="!frm.$valid" style="margin-top:1em;">
            Guardar Cambios
        </md-button>
    </form>
</md-content>
